 <nav class="navbar">
            <div class="ham">☰</div>
            <div class="search-bar">
                <form action="http://localhost:3000/register" method="post">
                    <input type="text" placeholder="Enter your name" name="user" required>
                    <button type="button" class="btn btn-outline-warning">Submit</button>
                </form>
            </div>
            <ul>
                <li id="home">Home</li>
                <li id="about">About</li>
                <li id="contacts">Contact</li>
            </ul>
        </nav>