<%- include("includes/head.ejs") %>
<body>
   <%- include("includes/nav.ejs") %> 
</body>
<%- include("includes/footer.ejs") %>
<h1 class="about-h1">About &nbsp; <span>Me</span></h1>
        <script src="/script.js"></script>
</html>