<%- include("includes/head.ejs") %>
<body>
   <%- include("includes/nav.ejs") %> 
</body>
<h1 class="about-h1">Contact &nbsp; <span>Me</span></h1>
<%- include("includes/footer.ejs") %>
        <script src="/script.js"></script>
</html>