<%- include("includes/head.ejs"); %>

    <body>
        <%- include("includes/nav.ejs"); %>
            <div class="section-1">
                <div class="form">
                    <!-- <div class="form-2"> -->
                        <div class="form-container">
                            <h2>Fill the form</h2>
                            <form>
                                <!-- Name -->
                                <div class="input-box">
                                    <input type="text" required>
                                    <label>Full Name</label>
                                </div>
                                <!-- Mobile -->
                                <div class="input-box">
                                    <input type="tel" pattern="[0-9]{10}" required>
                                    <label>Mobile Number</label>
                                </div>
                                <!-- Email -->
                                <div class="input-box">
                                    <input type="email" required>
                                    <label>Email Address</label>
                                </div>
                                <!-- Password -->
                                <div class="input-box">
                                    <input type="password" required>
                                    <label>Password</label>
                                </div>
                                <!-- Textarea -->
                                <div class="input-box">
                                    <textarea rows="3" required></textarea>
                                    <label>Message</label>
                                </div>
                                <!-- Date -->
                                <div class="input-box">
                                    <input type="date" required>
                                    <label>Date of Birth</label>
                                </div>
                                <button type="submit">🚀 Submit</button>
                            </form>
                        <!-- </div> -->
                    </div>
                </div>

            </div>
    </body>
    <%- include("includes/footer.ejs"); %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/script.js"></script>

        </html>