<%- include("includes/head.ejs"); %>

    <body>
        <%- include("includes/nav.ejs"); %>
            <h2>Hello! <%=user%> welcome to my website</h2>
    </body>
    <%- include("includes/footer.ejs"); %>
        <script src="/script.js"></script>
        </html>